.LabledCheckbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-3);
    accent-color: var(--accent);
    border-radius: 2px;
    padding: 2px;
    padding-left: 4px;
    user-select: none;
}
