.ResizeHandle {
    transition: border-color 0.15s ease-in-out;
    border: solid 0px rgba(255,255,255,0);
    /* --border-color: #425fff; */
    --border-color: var(--text);
}

.ResizeHandle:hover {
    border-color: var(--border-color);
}